@mixin grid($cln1, $cln2, $row1, $row2, $ji: center, $aI: center) {
	display: grid;
	grid-template-columns: $cln1 $cln2;
	grid-template-rows: $row1 $row2;
	justify-items: $ji;
	align-items: $aI;
}

@mixin flexbox($display: flex, $drn: row, $jc: normal, $ai: normal) {
	display: $display;
	flex-direction: $drn;
	justify-content: $jc;
	align-items: $ai;
}

@mixin border($color: white, $width: 1px, $type: solid) {
	border: $color, $width, $type;
}