::-webkit-scrollbar {
	display: none;
}

body,
ul,
li,
h1,
p,
button {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

button {
	background: none;
	border: none;
}

a {
	text-decoration: none;
}