@use 'global' as *;

// -- HERO

.hero_section {
	height: $max;
	@include grid(vw(465), vw(735), vh(112), vh(566), center, center);
	grid-template-areas:
		'image flags'
		'image content';
		margin-bottom: $section-indent;
}

.lang-list {
	display: flex;
	grid-area: flags;
	justify-self: end;
	margin-right: vw(32.5);
	gap: vw(15);
}

.button-lang {
	display: flex;
	transition: transform 0.2s;

	&:hover {
		cursor: pointer;
		transform: scale(1.2);
	}

	&:active {
		opacity: 0.7;
	}
}

.flag-image {
	width: vw(48);
	height: vh(48);
}

.hero-image {
	width: vw(400);
	height: vh(600);
	grid-area: image;
}

.hero-content {
	@include flexbox($ai: center, $drn: column);
	grid-area: content;
	gap: vh(5);
}

.greeting-name {
	font-size: vw(85);
	text-decoration: underline vw(0.5);
	text-underline-offset: vh(4, 678);
}

.aboutMe-link {
	font-size: vw(23);
	padding: vw(5);
	@include border;
	background-color: transparent;
	transition: color 0.2s, border-color 0.2s, transform 0.2s;

	&:hover {
		cursor: pointer;
		color: $light-gray;
		border-color: $light-gray;
		transform: scale(1.1);
	}

	&:active {
		border-width: vw(1.5);
		color: $dark-blue;
		border-color: $dark-blue;
	}
}

// -- ABOUT ME

.aboutMe_section {
	height: $max;
	@include flexbox(space-around, center);
	gap: vw(10);
	margin-bottom: $section-indent;
}

.text-wrap {
	width: vw(400);
}

.aboutMe-info {
	font-size: vh(25);
	font-family: 'Inter';
}

.aboutMe-image {
	width: vw(750);
	height: vh(500);
	order: 1;
}

// -- MY SKILLS

.mySkills_section {
	height: $max;
	@include grid(vw(550), vw(650), vh(108), vh(570), center, center);
	grid-template-areas:
		'title title'
		'image skillIcon';
}

.mySkills-image {
	width: vw(500);
	height: vh(500);
	grid-area: image;
}

.skillsIcon-box {
	grid-area: skillIcon;
	@include flexbox(space-around, center);
	gap: vw(5);
}

.skill-icon {
	width: vw(500);
	height: vh(500);
}

.mySkills-title {
	font-size: vw(50);
	padding: vw(5);
	grid-area: title;
}

.arrow-button {
	width: 50px;
	height: 50px;
}

.arrow-svg {
	fill: #d1d1d1;

	&:hover {
		cursor: pointer;
	}
	&:active {
		fill: black;
	}
}